/* ================================
   ESTILO BASE 
=================================*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
}

body {
    background: #ffffff;
    color: #222;
    line-height: 1.6;
}

/* Containers */
.container,
.container-sobre {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

/* ================================
   HERO / TOPO
=================================*/

.topo {
    background: #000000;
    padding: 60px 20px;
}

.texto-hero h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 20px;
}

.texto-hero p {
    font-size: 1.2rem;
    max-width: 500px;
    color: #f3f3f3;
    margin-bottom: 30px;
}
.imagem-hero {
    background: #fff34d;
    padding: 25px;
    border-radius: 4px;
    width: 100%;
    max-width: 1100px;     /* aumenta a área amarela */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-hero img {
    width: 100%;           /* imagem ocupa toda a área amarela */
    max-width: 1000px;     /* define o tamanho REAL da imagem */
    height: auto;
    display: block;
    border-radius: 0px;
}

/* Botão estilo Hotmart */
.botao.primario {
    display: inline-block;
    padding: 16px 32px;
    background: #fff34d;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}


.botao.primario:hover {
    background: #ff5a10;
    transform: translateY(-2px);
}

/* Imagem principal */
.imagem-hero img {
    width: 420px;
    max-width: 100%;
    filter: drop-shadow(0 10px 18px rgba(0,0,0,0.15));
}

/* ================================
   SEÇÃO cONTEÚDO VIDEO
=================================*/
.container-video {
    background: #5A2EFA; /* Roxo estilo Hotmart */
    padding: 60px 40px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 0px;
    flex-wrap: wrap; /* Responsivo */
}

.video {
    flex: 1;
    max-width: 500px;
}
/* Moldura do vídeo */


.moldura-video {
    background: #ffffff;
    padding: 12px;
    border-radius: 12px;
    max-width: 500px;
}

.moldura-video iframe {
     width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    display: block;
}

/* Texto ao lado */
.texto-video h2 {
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-size: 40px;
    margin-bottom: 15px;
}

.texto-video p {
    font-family: 'Inter', sans-serif;
    color: #eee;
    font-size: 18px;
    max-width: 400px;
    line-height: 1.5;
}




/* ================================
   SEÇÃO SOBRE MIM
=================================*/

.sobre {
    background: #222020;
    padding: 80px 20px;
}
.texto-sobre h1 {
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    font-weight: 100;
    color: #ddd;
    line-height: 3;
    max-width: 700px;
}
.texto-sobre h2 {
    font-family: 'Anton', sans-serif; 
    font-size: 70px;
    font-weight: 400; 
    color: #fff; 
    margin-bottom: 40px; 
    line-height: 1;
}

.texto-sobre p {
    font-size: 1.15rem;
    margin-bottom: 15px;
    color: #ffffff;
    max-width: 560px;
}

.foto-sobre {
    background: #ffffff;
    padding: 15px;
    border-radius: 0px;
    width: 100%;
    max-width: 500px;     /* aumenta a área amarela */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto-sobre img {
    width: 100%;           /* imagem ocupa toda a área amarela */
    max-width: 800px;     /* define o tamanho REAL da imagem */
    height: auto;
    display: block;
    border-radius: 0px;
}


/* ================================
   RODAPÉ
=================================*/

footer.contatos {
    background: #121212;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

footer.contatos p {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 25px;
}

footer a {
    color: #ff6a28;
    font-size: 1.1rem;
    text-decoration: none;
    margin: 0 8px;
    transition: 0.3s;
}

footer a:hover {
    color: #ffffff;
}


/* ================================
   RESPONSIVIDADE
=================================*/

@media (max-width: 900px) {

    .container, .container-sobre {
        flex-direction: column;
        text-align: center;
    }

    .imagem-hero img {
        width: 80%;
    }

    .foto-sobre img {
        width: 200px;
    }

    .texto-hero h1 {
        font-size: 2.2rem;
    }
}

@media (max-width: 500px) {
    .texto-hero h1 {
        font-size: 1.9rem;
    }

    .botao.primario {
        width: 100%;
        font-size: 1rem;
        padding: 14px;
    }
}


@media (max-width: 900px) {
    .container-video {
        flex-direction: column;
        text-align: center;
    }

    .texto-video h2 {
        font-size: 32px;
    }

    .texto-video p {
        margin: 0 auto;
    }
}